<!DOCTYPE html>
<html lang="en">
<head>
<title>CryptoSuite</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
</style>
</head>
<body>

<nav class="w3-sidebar w3-blue w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="{{ url_for('home') }}" class="w3-bar-item w3-button w3-hover-white">Home</a>
  <a href="{{ url_for('symmetric') }}" class="w3-bar-item w3-button w3-hover-white">Symmetric Encryption</a>
  <a href="{{ url_for('asymmetric') }}" class="w3-bar-item w3-button w3-hover-white">Asymmetric Encryption</a>
  <a href="{{ url_for('hashing') }}" class="w3-bar-item w3-button w3-hover-white">Hashing</a>
  <a href="{{ url_for('algoinfo') }}" class="w3-bar-item w3-button w3-hover-white">Algorithm Info</a>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-blue w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-blue w3-margin-right" onclick="w3_open()">☰</a>
  <span>ACS</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<div class="w3-main" style="margin-left:340px;margin-right:40px">
    
  <!-- Flash messages -->
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div>
        {% for category, message in messages %}
          <div class="w3-panel w3-pale-green w3-border" style="margin-top:10px;">
            <b>{{ category|capitalize }}:</b> {{ message }}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}

  {% block content %}{% endblock %}
</div>
</body>
</html>